.example-block {
  background: $color_main;
  display: grid;
  grid-template-columns:  50% 50%;
  width: 100%;

  .description-container,
  .example-container {
  }

  .example-container {
    padding: 4em;

    .example {
      background: $color_white;
      border-radius: .5em;
      height: 600px;
      overflow: auto;
      padding: .5em 1.5em;
      position: relative;

      .row {
        border-radius: .25em;
        padding: 0.5em;
        margin: .5em 0;
      }
    }
  }

  .description-container {
    padding: 4em;

    h2 {
      margin-top: 0;
    }

    code {
      padding: 1em;
    }
  }

  &:nth-child(odd) {
    background: $color_secondary;

    .description-container {
      order: 2;
    }
  }

}
